version: 2.1

orbs:
  win: circleci/windows@2.4.0

jobs:
  build:
    executor: win/default
    steps:
      - checkout
      - run: pip install pipenv==2021.11.15
      - run: $env:PIPENV_VENV_IN_PROJECT=1; pipenv install --dev
      - run: pipenv run conan config install .conan --type dir
      - run: pipenv run conan create . 0.0.0@tradingview/testing --profile x86_64-Windows-v142-Release
